@CHARSET "UTF-8";
*{
    margin:0;
    padding:0;
}

.background{
    background-size: 100%;
    background:url("../img/background.jpg") no-repeat;
}

.myueditor{
    margin-top:20px;
}

#editor{
    margin:auto;
}

.word{
    width: 1024px;
    margin:auto;
}

